html,
body {
  padding: 20;
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.card-body.male {
 background-color: rgb(227, 242, 247);
}

.card-body.female {
  background-color: antiquewhite;
 }

 .accordion-button.male {
  background-color: rgb(190, 213, 221);
  color: #000; 
}

.accordion-button.female {
  background-color: rgb(236, 222, 241);
  color: #00f; 
}


.list-group-item.male {
  background-color: rgb(219, 238, 245);
}

.list-group-item.male:hover {
  background-color: rgb(199, 218, 225);
}

.list-group-item.female {
  background-color: rgb(249, 234, 234);
}

.list-group-item.female:hover {
  background-color: rgb(229, 214, 214);
}


.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.box {
  border-width: 1;
  border-radius: 8px;
  border-color: rgb(39, 38, 50);
  background-color: antiquewhite;
  padding: 30px;
  
  font-size: .7em;
}

.underline-link {
  text-decoration: underline;
}

